[submodule "tg-manager"]
	path = tg-manager
	url = https://github.com/GustavoNaldoni1/tg-manager
[submodule "PixelCodec"]
	path = PixelCodec
	url = https://github.com/GustavoNaldoni1/PixelCodec
[submodule "LocalFinder"]
        path = LocalFinder
        url = https://github.com/GustavoNaldoni1/LocalFinder.git