[submodule "tg-manager"]
	path = tg-manager
	url = https://github.com/GustavoNaldoni1/tg-manager
[submodule "PixelCodec"]
	path = PixelCodec
	url = https://github.com/GustavoNaldoni1/PixelCodec
[submodule "LocalFinder"]
        path = LocalFinder
        url = https://github.com/GustavoNaldoni1/LocalFinder.git
[submodule "optimus"]
	path = optimus
	url = https://github.com/GustavoNaldoni1/optimus-cli.git
[submodule "apps"]
	path = apps
	url = https://github.com/GustavoNaldoni1/apps.git
[submodule "clienter-tas"]
	path = clienter-tas
	url = https://github.com/GustavoNaldoni1/clienter-tas.git
